:root {
  --main-active-color: #2196f3;
  --true-white-color: #ffffff;
  --title-color: #212121;
  --hero-background-color: #2f303a;
  --grey: #757575;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --white-buttons-color: #f5f4fa;
}
/* body color */
body {
  background-color: #e5e5e5;
}

/* painted logo */
/* Добавил 3 класса лого, ведь нас просили лого ставить не картинкой, а писать текстом.
На макете показывает, что цвет #2196f3, поэтому пришлось обернуть в span и добавить белый
и чёрный цвета*/
.header .logo {
  color: black;
}
.logo1 {
  color: var(--main-active-color);
}
.footer .logo2 {
  color: var(--true-white-color);
}
/* header background color */
.header {
  background-color: var(--true-white-color);
}

/* hero background color */
.hero {
  background-color: var(--hero-background-color);
}

/* footer background color */
.footer {
  background-color: var(--hero-background-color);
}

/* hidden titles */
.hidden {
  visibility: hidden;
}

/* current page highlighting */
.nav .current {
  color: var(--main-active-color);
}

/* removed ul styles */
ul {
  list-style: none;
}

/* links style */
a {
  text-decoration: none;
}

a:visited {
  color: var(--title-color);
}

/* painted nav links */
.nav-list .list-link {
  color: var(--title-color);
}

/* painted contact-links */
.contacts .contacts-link {
  color: var(--grey);
}

.hero-title {
  color: var(--true-white-color);
}

.hero-button {
  color: var(--true-white-color);
  background-color: var(--main-active-color);
}

.section-list-title,
.section-title {
  color: var(--title-color);
}

.section-list-text {
  color: var(--grey);
}

.address-text {
  color: var(--true-white-color);
}

.address-list-link {
  color: var(--transparent-white-color);
}

/* painted hover and focus for links */
.contacts-link:hover,
.list-link:hover,
.address-list-link:hover,
.nav-link:hover,
.contacts-link:focus,
.list-link:focus,
.address-list-link:focus,
.nav-link:focus {
  color: var(--main-active-color);
}

/* buttons color on page portfolio */
.filter-buttons .button {
  color: var(--title-color);
  background-color: var(--white-buttons-color);
}

.filter-buttons .button:hover, 
.filter-buttons .button:focus {
    background-color: var(--main-active-color);
    color: var(--true-white-color);
}
