:root {
  --main-active-color: #2196f3;
  --true-white-color: #ffffff;
  --title-color: #212121;
  --hero-background-color: #2f303a;
  --grey: #757575;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --white-buttons-color: #f5f4fa;
}
/* body color */
body {
  background-color: var(--true-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/* painted logo */
/* Добавил 3 класса лого, ведь нас просили лого ставить не картинкой, а писать текстом.
На макете показывает, что цвет #2196f3, поэтому пришлось обернуть в span и добавить белый
и чёрный цвета*/
.header .logo {
  color: black;
}
.logo1 {
  color: var(--main-active-color);
}
.footer .logo2 {
  color: var(--true-white-color);
}
/* header background color */
.header {
  background-color: var(--true-white-color);
}

/* hero background color */
.hero {
  background-color: var(--hero-background-color);
}

/* footer background color */
.footer {
  background-color: var(--hero-background-color);
}

/* hidden titles */
.hidden {
  visibility: hidden;
}

/* current page highlighting */
.nav .current.nav-link {
  color: var(--main-active-color);
}

/* removed ul styles */
ul {
  list-style: none;
}

/* links style */
a {
  text-decoration: none;
}

a:visited {
  color: var(--title-color);
}

/* painted nav links and give them font-style */
.nav-list .nav-link {
  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* painted contact-links */
.contacts .contacts-link {
  color: var(--grey);
}

.hero-title {
  color: var(--true-white-color);
}

.hero-button {
  color: var(--true-white-color);
  background-color: var(--main-active-color);
}

.section-list-title,
.section-title {
  color: var(--title-color);
}

.section-list-text {
  color: var(--grey);
}

.address-text {
  color: var(--true-white-color);
}

.address-list-link {
  color: var(--transparent-white-color);
}

/* painted hover and focus for links */
.contacts-link:hover,
.list-link:hover,
.address-list-link:hover,
.nav-link:hover,
.contacts-link:focus,
.list-link:focus,
.address-list-link:focus,
.nav-link:focus {
  color: var(--main-active-color);
}

/* buttons color on page portfolio */
.filter-buttons .button {
  color: var(--title-color);
  background-color: var(--white-buttons-color);
}

.filter-buttons .button:hover,
.filter-buttons .button:focus {
  background-color: var(--main-active-color);
  color: var(--true-white-color);
}

/* background color for oir-team section */
.our-team {
  background-color: var(--white-buttons-color);
}

/* logo fonts */
.logo,
.logo2 {
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* contact links in header fonts */
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* hero font param-s */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* hero button font param-s */
.hero-button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* other sections fonts param-s */
.advantages .section-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.advantages .section-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-are-we-doing .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.our-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.our-team .section-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team .section-list-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.filter-buttons .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-portfolio .section-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.our-portfolio .section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.button {
  cursor: pointer;
}